apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sample-multiple-sources
  namespace: argocd
spec:
  generators:
  - git:
      repoURL: 'https://github.com/NaveenBalagouni/argocd-training.git'
      revision: HEAD
      directories:
      - path: 'two-git'
  - git:
      repoURL: 'https://github.com/NaveenBalagouni/argocd-training.git'
      revision: HEAD
      directories:
      - path: 'sources-git'
  template:
    metadata:
      name: '{{path.basename}}'
    spec:
      project: default
      source:
        repoURL: '{{repoURL}}'
        targetRevision: HEAD
        path: '{{path}}'
      destination:
        server: 'https://kubernetes.default.svc'
        namespace: default
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
